@import 'tailwindcss';
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100vw;
}

/* Remove wildcard transition to improve performance */
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* transition-property: all; -> Causes layout thrashing */
  /* duration: 300ms; */
  /* transition-timing-function: ease-in-out; */
}

@layer components {
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(59, 130, 246, 0.2) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.2);
    border-radius: 20px;
    border: 2px solid transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.4);
  }

  .nav-link {
    transition-property: color;
    transition-duration: 300ms;

    &:hover {
      color: #c9fa75;
    }
    &.active {
      color: #c9fa75;
    }
  }
  .switch-link {
    transition-property: all;
    transition-duration: 300ms;
    cursor: pointer;

    &:hover {
      color: white;
    }
    &.active {
      color: white;
      border-bottom: 2px solid rgb(185, 185, 185);
    }
  }
}
